<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="icon" href="{{ url_for('static',filename='img/icon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Expense</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="C:/Users/diego/Documents/EXP/expense-monitor/static/css/demo.css"/>
<link rel="stylesheet" href="C:/Users/diego/Documents/EXP/expense-monitor/static/css/style.css"/>
<link rel="stylesheet" href="C:/Users/diego/Documents/EXP/expense-monitor/static/css/theme2.css"/>
<link href="{{ url_for('static',filename='css/style.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/theme2.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/demo.css') }}" rel="stylesheet">
</head>

<body class="grey lighten-3">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light blue-grey darken-4 scrolling-navbar">
      <div class="container-fluid">
        <a class="navbar-brand waves-effect" target="_blank">
          <strong class="blue-text">Expense </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/tables" >Tables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/settings" >Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/fuel" >Gasoline</a>
            </li>
          </ul>
		  <ul class="navbar-nav nav-flex-icons">
			<li class="nav-item">
              <a class="nav-link waves-effect" href="/logout">{{ username }} -- Logout</a>
            </li>
		  </ul>
        </div>
      </div>
    </nav>
  </header>
    <div class="container-fluid mt-5 outer-div">
      <div class="card mb-4 wow fadeIn">
      </div>
      <div class="row wow fadeIn">
		<div class="col ">
			<button type="button" class="py-5 block btn btn-success btn" data-toggle="modal" data-target="#Entrata">IN</button>
		</div>
		<div class="col">
			<button type="button" class="py-5 block btn btn-danger btn" data-toggle="modal" data-target="#Uscita">OUT</button>
		</div>
	  </div>
	  <div class="row ">
          <div id="caleandar" style="margin: auto; transform: scale(1.2); z-index=4; padding: 20px;"></div>
      </div>
		<div class="row wow fadeIn">
		<div class="col">
			<button type="button" class="py-4 block btn btn-warning btn" data-toggle="modal" data-target="#Calendario">Eventi Futuri</button>
		</div></div>
		<div class="row wow fadeIn">
		<div class="col">
			<button type="button" class="py-4 block btn btn-info btn" data-toggle="modal" data-target="#Benzina">BENZINA</button>
		</div>
		</div>
		</div>
          <div class="card">
            <section>
              <div class="modal fade" id="Entrata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <p class="heading lead">Nuova ENTRATA</p>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="text-center">
                        <i class="fas fa-chart-line fa-4x mb-3 animated rotateIn"></i>
						<form action="/insert" method="POST">
						<input type="hidden" name="INorOUT" value="IN">
						Costo: <input type="number" name="cost"><br>
						Data: <input type="date" name="data"><br>
						Causale: <input type="text" name="linked"><br>
						Categoria:<select name="Cat">
							<option value="refund">Refund</option>
							<option value="stipendio">Stipendio</option>
							<option value="extra">Lavoro Extra</option>
							<option value="vendita">Vendita</option>
						</select><br>
                    <div >
                      <input class="btn btn-info" type="submit" value="Save"> 
                      <a role="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">cancel</a>
                    </div>
                    </form>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
			  
			  <div class="modal fade" id="Uscita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-danger" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <p class="heading lead">Nuova USCITA</p>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="text-center">
                        <i class="fas fa-coins fa-4x mb-3 animated rotateIn"></i>
						<form action="/insert" method="POST">
						<input type="hidden" name="INorOUT" value="OUT">
						Costo: <input type="number" name="cost"><br>
						Data: <input type="date" name="data"><br>
						Causale: <input type="text" name="linked"><br>
						Categoria:<select name="Cat">
							<option value="Shopping">Shopping</option>
							<option value="Investimento">Investimento</option>
							<option value="Alimenti">Alimenti</option>
							<option value="Spedizioni">Spedizioni</option>
						</select><br>
                    <div >
                      <input class="btn btn-info" type="submit" value="Save"> 
                      <a role="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">cancel</a>
                    </div>
                    </form>
                     </div>
                      </div>
                  </div>
                  </div>
                </div>

              <div class="modal fade" id="Benzina" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <p class="heading lead">INSERISCI Benzina</p>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div  class="text-center">
                        <i class="fas fa-gas-pump fa-4x mb-3 animated rotateIn"></i>
						<form action="/insertgas" method="POST">
						Costo: <input type="number" name="cost"><br>
						Costo per litro: <input type="number" step="any" name="litcost"><br>
						Data: <input type="date" name="data"><br>
						Km Auto: <input type="number" name="totKm"><br>
                    <div>
                      <input class="btn btn-info" type="submit" value="Save"> 
                      <a role="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">cancel</a>
                    </div>
                    </form>
                     </div>
                      </div>
                  </div>
                  </div>
                </div>


              <div class="modal fade" id="Calendario" tabindex="-1" role="dialog" aria-labelledby="																																																		"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-warning" role="document"> 
                                      <div class="modal-content">
                    <div class="modal-header">
                      <p class="heading lead">Evento Futuro </p>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="text-center">
                        <i class="fas fa-calendar-alt fa-4x mb-3 animated rotateIn"></i>
						<form action="/insert" method="POST">
						Costo: <input type="text" name="cost"><br>
						Data: <input type="date" name="data"><br>
						Refund o altro: <input type="text" name="cost"><br>
						Categoria:<select name="Cat">
							<option value="refund">Refund</option>
							<option value="stipendio">Stipendio</option>
							<option value="extra">Lavoro Extra</option>
							<option value="vendita">Vendita</option>
							<option value="vendita">Bollo</option>
							<option value="vendita">Assicurazione</option>
						</select><br>
                    <div >
                      <input class="btn btn-info" type="submit" value="Save"> 
                      <a role="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">cancel</a>
                    </div>
                    </form>
                     </div>
                      </div>
                      </div>
                  </div>
                </div>

<script type="text/javascript" src="C:/Users/diego/Documents/EXP/expense-monitor/static/js/caleandar.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/caleandar.js') }}"></script>
                <script>var events = [
{{ calend | safe}}
];

var settings = {};
var element = document.getElementById('caleandar');
caleandar(element, events, settings);</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"></script>
<script type="text/javascript">
    new WOW().init();
  </script>
</body>
</html>