<!doctype html>
<html >
  <head>
    <link rel="icon" href="https://avatars2.githubusercontent.com/u/53141505?s=60&v=4">
    <title>3D Volt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  </head>
  <body>


<h1 class="h4 text-gray-900 mb-4">Accedi al Pannello</h1>
                  </div>
                  <form action="/home" method="POST" class="user">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" value="" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" value="" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
					</form>
                </div>
				<footer class="page-footer font-small special-color-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <a class="ig-ic" href="https://www.instagram.com/3dvolt/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
		  <a class="git-ic" href="https://github.com/3dvolt/">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
		  <a class="thin-ic" href="https://www.thingiverse.com/3dVolt/designs">
            <i class="fas fa-cube fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
		  <a class="yt-ic" href="https://www.youtube.com/channel/UCJb40kTKsTMtbw-VCqrC3Gg">
            <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a>3Dvolt</a>
  </div>
</footer>  
  </body>
</html>