<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="icon" href="{{ url_for('static',filename='img/icon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Expense</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/css/mdb.min.css" rel="stylesheet">
<link href="C:/Users/diego/Documents/EXP/expense-monitor/static/css/style.css" rel="stylesheet">
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/calendar.css') }}" rel="stylesheet">
</head>

<body class="grey lighten-3">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">
        <a class="navbar-brand waves-effect" target="_blank">
          <strong class="blue-text">Expense </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/tables" >Tables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/settings" >Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/fuel" >Gasoline</a>
            </li>
          </ul>
		  <ul class="navbar-nav nav-flex-icons">
			<li class="nav-item">
              <a class="nav-link waves-effect" href="/logout">{{ username }} -- Logout</a>
            </li>
		  </ul>
        </div>
      </div>
    </nav>
  </header>
      <div class="container-fluid mt-5 outer-div centerr">
      <div class="card mb-4 wow fadeIn">
      </div>

{% block content %}
<h2 class="text-center" style="margin: 0;
  	padding: 25px 0;
  	font-size: 22px;
  	border-bottom: 1px solid #e0e0e3;
  	color: #4a536e;">Profile Page</h2>
<div class="row wow fadeIn card text-white bg-primary mb-3" style='padding: 30px;'>
    <p class="text-center" >Your account details are below:</p>
    <table>
        <tr>
            <td>Name: {{ account[1] }}</td>
        </tr>
		<tr>
            <td>Surname: {{ account[2] }}</td>
        </tr>
        <tr>
            <td>UserName: {{ account[3] }}</td>
        </tr>
        <tr>
            <td>Email: {{ account[4] }}</td>
        </tr>
		<tr>
            <td>Change Password <a class="text-white" href="#" >Click Here<a></td>
        </tr>
    </table>
</div>
{% endblock %}
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script type="text/javascript">
    new WOW().init();
  </script>
</body>
</html>